.regcheck-block {
    background: #fff;
    padding: 30px 30px 10px 30px;
    clear: both;
}

.regcheck-input {
    background-color: #f2f2f2;
    width: 100%;
    border: 0;
    padding: 10px 20px;
    line-height: 1.7;
    height: 53px;
    margin-bottom: 25px;
}


.regcheck-block label {
    font-weight: normal;
    text-transform: uppercase;
}

.regcheck-submit-save {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 0;
    position: absolute;
    top: 0;
    right: 0;
    background: #222;
    color: #fff;
    border: 0;
    padding: 18px;
    height: 53px;
}


.regcheck-block .table {
    max-width: 100%;
    margin-bottom: 0;
}


.regcheck-image {
    display: block;
    margin: 20px auto;
}

.regcheck-result{
    padding: 25px 0;
}

.regcheck-result dt {
    display: inline-block;
    margin-left: 0;
    font-weight: 500;
    color: #222;
    transition: all .3s;
    text-transform: uppercase;
    width: 100%;
    padding-left: 0px;
    vertical-align: top;
    font-size: 12px;
    padding-bottom: 5px;
    padding-top: 5px;
    word-break: break-all;
}

.regcheck-result dd {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-weight: 300;
    line-height: 1.7;
    width: 100%;
    vertical-align: top;
}

.regcheck-block form {
    position: relative;
}

.text-danger {
    color: red;
    font-size: 14px;
}
